---
workflow:
  rules:
    # Skip GitHub pull requests pipelines
    - if: $CI_PIPELINE_SOURCE == 'external_pull_request_event'
      when: never
    # Otherwise include the job and set to run normally
    - when: always

#

include:
  - /base_semantic_release_stage.yml
  - /base_trigger_stage.yml

stages:
  - Code Quality
  - Release

Lint:
  stage: Code Quality
  image: node:14-alpine
  script:
    - npx yaml-lint *.yml
    - npx prettier --check *.yml

Test AutoDevOps on SocialGouv/sample-next-app:
  stage: Code Quality
  extends: .base_trigger_stage
  variables:
    TRIGGER_ARGS: >-
      --form ref="${CI_COMMIT_REF_NAME}"
    TRIGGER_PROJECT_ID: "${SOCIAL_GOUV_SAMPLE_NEXT_APP_PROJECT_ID}"

#

Release:
  extends: .base_semantic_release_stage
  rules:
    - if: "$CI_PROJECT_URL =~ /^https:\/\/gitlab.factory.social.gouv.fr\//"
  variables:
    SEMANTIC_RELEASE_PLUGINS: "@semantic-release/changelog @semantic-release/exec @semantic-release/git"
